@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --tenny-tawny:#d65108;
    --tenny-tawny-dark:#b54507;
}

body{
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: "poppins",sans-serif;
}

.btn{
    font-family: inherit;
    cursor: pointer;
     outline: 0;
    font-size: 1.05rem; 
}

.search-content{
    opacity: 0.8;
}

.title{
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* container */

.container{
    min-height: 100vh;
    /* border: 2px solid rgb(122, 204, 122); */
    
}

.meal-wrapper{
    max-width: 1280px;
    /* border: 2px solid rgb(10, 184, 155); */
   margin: 0 auto;
   padding: 2rem;
   background: #fff;
   text-align: center;
}

.meal-search{
    margin: 2rem 0;
    
}
.meal-search h2{
    text-transform: capitalize;
    
}

.meal-search cite{
    font-size: 1.2rem;
}

.meal-search-box{
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
}

.search-control,
.search-btn{
    width: 100%;
}

.search-control{
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid var(--tenny-tawny);
    color: var(--tenny-tawny);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.search-control::placeholder{
    color: var(--tenny-tawny);
}

.search-btn{
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: var(--tenny-tawny);
    color: #fff;
    border: none;
    border-top-right-radius: 2rem;
    transition: all 0.5s linear;
    border-bottom-right-radius: 2rem;
}

.search-btn:hover{
    background: var(--tenny-tawny-dark);
}

.meal-result{
    margin-top: 4rem;
}
.meal-result h2{
text-transform: capitalize;
}

#meal{
    margin: 2rem 0;
}

.meal-item{
    /* border: 2px solid red; */
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0,0,0,0.79);

}

.meal-image img{
width: 100%;
display: block;
}

.meal-name{
    padding: 1.5rem 0.5rem;
}

.meal-name h3{
    font-size: 1.4rem;
}

.recipe-btn{
    text-decoration: none;
    color: #FFD3A5;
    background: #FD6585;
    font-weight: 500;
    font-size: 1.1rem;
    padding:0.75rem;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;
    transition: all 0.5s linear;
}

.recipe-btn:hover{
    background: var(--tenny-tawny-dark);
}


/* media queries */

@media screen and (min-width:600px){
    .meal-search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}
   
@media screen and (min-width:768px){
    #meal{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .meal-item{
        margin: 0;
    }

    .meal-details{
        width: 600px;
    }
}

@media screen and (min-width:992px){
    #meal{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .meal-details{
        width: 700px;
    }
}

@media screen and (max-width:400px){
    .meal-item{
        margin: 1rem 0 ;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}

/* meal-details */

.meal-details{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    background: #02AAB0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00CDAC, #02AAB0);  
    background: linear-gradient(to right, #00CDAC, #02AAB0); 

    /* background: var(--tenny-tawny); */
    border-radius: 1rem;
    width: 50%;
    height: 95%;
    overflow-y: scroll;
    display: none;
    padding: 2rem 0;
}
.meal-details::-webkit-scrollbar{
    width: 10px;
}

.meal-details::-webkit-scrollbar-thumb{
    background: #f0f0f0;
    border-radius: 2rem;
}

/* js related */
.showRecipe{
    display: block;
}

.meal-details-content{
    margin: 2rem 0;
}

.meal-details-content p:not(.recipe-category){
    padding: 2rem 0;
}

.recipe-instruct p{
    text-transform: capitalize;
    padding: 1rem 0;
    color: #fff
}
.recipe-instruct h3{
    text-transform: capitalize;
}


.recipe-close-btn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: #fff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
}

.recipe-title{
    text-transform: capitalize;
    letter-spacing: 1.2px;
    padding-bottom: 1rem;
}

.recipe-category{
    background: #fff;
    font-weight: 600;
    color: var(--tenny-tawny);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
}

.recipe-instruct{
    padding: 1rem 0;
}

.recipe-meal-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.recipe-link{
    margin: 1.4rem 0;
}

.recipe-link a{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.5s linear;
    letter-spacing: 1px;
    text-decoration: none;
}

.recipe-link a:hover{
opacity: 0.7;
}

.notFound{
    grid-template-columns: 1fr!important;
    color: var(--tenny-tawny);
    font-size: 1.8rem;
    font-weight: 700;
    width: 100%;
    text-transform: capitalize;
}